// orangish colors
$primary1: #E86432;
$primary2: #C7522A;

// greyish colors
$secondary1: #3B2B26;
$secondary2: #291D1A;
$secondary3: #5C4C46;
$secondary4: #7F716B;
$secondary5: #A99E98;
$secondary6: #D8D8D2;

// breakpoints
$break-large: 56em;
$break-medium: 44em;
$break-small: 32em;

// fonts:
$adelle_sans: 'Adelle Sans', sans-serif;
$officina: 'OfficinaSerITCStd', serif;

@font-face {
	font-family: 'Adelle Sans';
	src: url('../fonts/AdelleSansLight.eot');
	src: url('../fonts/AdelleSansLight.woff2') format('woff2'),
		url('../fonts/AdelleSansLight.woff') format('woff'),
		url('../fonts/AdelleSansLight.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OfficinaSerITCStd';
	src: url('../fonts/OfficinaSer.eot');
	src: url('../fonts/OfficinaSer.woff2') format('woff2'),
		url('../fonts/OfficinaSer.woff') format('woff'),
		url('../fonts/OfficinaSer.otf') format('otf');
}

body {
	font-family: 'Adelle Sans', sans-serif;
	background-color: white;
	color: $secondary3;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
	color: $secondary3;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: $primary1;
	text-decoration: none;
}

h1 {
	font-family: $officina;
	color: white;
	font-size: 3.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: $officina;
	color: white;
	font-size: 2.6em;
	font-weight: normal;
	margin: 0;
	padding: .4em;
}

h3 {
	font-family: $officina;
	color: white;
	font-size: 2.6em;
	font-weight: bold;
}

h4 {
	font-family: $adelle_sans;
	color: $secondary3;
	font-size: 1.4em;
	font-weight: normal;
}

a img {
	border: none;
}

ul {
	list-style: none;
	list-style-image: url('../images/bullet.png');
}

h1.logo-color {
	background: url('../images/logo_large.svg') no-repeat center top;
	height: 1em;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

h1.logo-dark {
	background: url('../images/logo_dark.svg') no-repeat center top;
	height: 1em;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.logo-white {
	background: url('../images/logo_white.svg') no-repeat center top;
	height: 2em;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#nav-linkedin {
	&::after {
		height: 0 !important;
	}
	svg {
		width: 1.6em;
		height: 1.6em;
		path {
			fill: #a99e99;
			transition: all 300ms ease-in;
		}
		&:hover path {
			fill: $primary1 !important;
			transition: all 300ms ease-in
		}
	}
}

.bgimage {
	background-repeat: no-repeat;
	background-position: center top;
}

.bgimage-container {
	overflow: hidden;
	position: relative;
	.bgimage {
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
}

header.not-fullscreen {
	width: 100%;
	background-image: url('../images/story.jpg');
	background-size: 100%;
	background-position: center top;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	nav {
		display: block;
		a#mobileMenuOpen {
			svg path {
				fill: gray;
			}
			&:hover svg path {
				fill: $primary1;
			}
		}
		a#nav-logo {
			width: 100%;
			display: block;
			margin: 0 2.5em;
			h1 {
				height: 3.2rem;
			}
		}
		ul#fullmenu {
			background-color: white;
		}
	}
}

.section-anchor,
.subsection-anchor {
	display: block;
	position: relative;
	top: -3.2rem;
}

content#main {
	display: block;
	padding: 1rem;
	margin: 4rem auto 3rem;
}

.field {
	padding-top: .4rem;
	width: 100%;
	input,
	textarea {
		width: 100%;
		max-width: 22rem;
		padding: .3rem;
	}
	input[type="submit"] {
		border: solid 0.15em #E86432;
		border-radius: .4em;
		padding: .2em .6em;
		color: #E86432;
		background-color: white;
		cursor: hand;
		width: auto;
		font-size: 1rem;
	}
}

.errorlist {
	margin: .2em 0 0;
	padding: 0;
	color: red;
	list-style: none;
	font-size: .9rem;
}

article {
	clear: both;
	.article-image {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 12rem;
	}
	.article-content {
    	margin-top: 2em;
    	p {
    		margin: 0 0 2em;
    	}
	}
}

// mobile first nav
nav {
	z-index: 1000;
	display: none;
	width: 100%;
	&.sticky {
		display: block;
	}
	ul {
		list-style: none !important;
		margin: 0 !important;
		padding: 0;
	}
	a#mobileMenuOpen {
		height: 2em;
		width: 2em;
		float: right;
		padding: .6em;
		&:hover svg path {
			fill: $primary1;
		}
	}
	ul#fullmenu {
		max-height: 0;
		transition: all 500ms ease-in;
		overflow: hidden;
		border-bottom: solid 2px $primary1;
		&.open {
			max-height: 25em;
			transition: all 600ms ease-in;
		}
		li {
			width: 100%;
			text-align: center;
			padding: .4em;
			display: block;
			a {
				width: 100%;
				padding: .4em;
				display: block;
			}
		}
	}


}


footer {
	text-align: center;
	background-color: $primary2;
	color: white;
	clear: both;
	opacity: .9;
	a:link,
	a:hover,
	a:visited,
	a:hover {
		color: white;
		text-decoration: none;
	}
	& > ul {
		margin: 0 auto;
		max-width: 80em;
		padding: 1em;
		list-style: none;
		font-family: $adelle_sans;
		& > li {
			display: block;
			vertical-align: top;
			padding: 1em;
			text-align: center;
			ul {
				list-style: none;
				font-size: .8em;
				padding-left: 0;
				li {
					padding-top: .4em;
				}
			}
		}
	}
	#copyright {
		font-family: $adelle_sans;
		font-size: .7em;
		padding-bottom: 1em;
	}
}

// specific sections and overrides
body.homepage {
	div#logo {
		position: absolute;
  		top: 40%;
		width: 100%;
		text-align: center;
		h1.logo-color {
			height: 4em;
		}
	}
	header#hero {
		height: 100em; // initial value to avoid flashing before js load
		background: url('../images/gradient-dark.png') repeat-x bottom;
		position: relative;
		z-index: 999;
		nav {
			transition: all 300ms ease-in;
			&.sticky {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 100;
				background-color: white;
				opacity: 1;
				transition: all 300ms ease-in;
				a#nav-logo {
					width: 100%;
					opacity: 1;
					transition: all 300ms ease-in;
					display: block;
				}
			}
			a#nav-logo {
				opacity: 0;
				transition: all 300ms ease-in;
				margin: 0 2.5em;
			}
		}
	}
	div.tagline {
		position: relative;
		display: none;
		height: 0;
		overflow: hidden;
	}
	div#enter {
		position: absolute;
		z-index: 102;
		bottom: 1rem;
		width: 100%;
		text-align: center;
		a svg {
			height: 3rem;
			width: 3rem;
			display: inline-block;
			path {
				fill: white;
				transition: all 300ms ease-in;
			}
			&:hover path {
				fill: $primary1 !important;
				transition: all 300ms ease-in
			}
		}
	}

	section.homepage-summary {
		display: block;
		position: relative;
		z-index: 100;
		padding: 1em;
		text-align: center;
		background-color: $primary1;
		color: white;
		font-family: $officina;
		font-size: 1.8em;
		font-weight: normal;
		line-height: 1.2em;
		p {
			padding: 0;
			margin: 0;
		}
	}

	aside.homepage-left {
		text-align: center;
		padding: 2em 0;
		a {
			text-decoration: none;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				font-family: $adelle_sans;
				padding: .4em 1em;
				margin: .6em;
				a {
					color: white;
					padding: .2em .5em;
				}
				&.active a,
				a:hover {
					border: solid .15em $primary1;
					border-radius: .4em;
					text-decoration: none;
				}
			}

		}
	}

	section.homepage-right {
		background-color: white;
		min-height: 32em;
		padding: 1em;
		.learn-more {
			margin-top: 3em;
			text-align: center;
			a {
				border: solid .15em $primary1;
				border-radius: .4em;
				padding: .2em .6em;
				color: $primary1;
				text-decoration: none;
				&:active {
					padding: .16em .55em;
					font-size: .92em;
				}
			}
		}
	}
}

@media screen and (min-aspect-ratio: 8/3) {
	div#enter {
		display: none;
	}
	header.not-fullscreen {
		height: 10rem !important;
	}
	content#main {
		margin-top: 10rem !important;
	}
}

@media screen and (min-width : $break-medium) {
	@import "breakpoint-medium";
}

@media screen and (min-width : $break-large) {
	@import "breakpoint-large";
}
