@font-face {
  font-family: 'Adelle Sans';
  src: url("../fonts/AdelleSansLight.eot");
  src: url("../fonts/AdelleSansLight.woff2") format("woff2"), url("../fonts/AdelleSansLight.woff") format("woff"), url("../fonts/AdelleSansLight.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OfficinaSerITCStd';
  src: url("../fonts/OfficinaSer.eot");
  src: url("../fonts/OfficinaSer.woff2") format("woff2"), url("../fonts/OfficinaSer.woff") format("woff"), url("../fonts/OfficinaSer.otf") format("otf");
}
/* line 40, base.scss */
body {
  font-family: 'Adelle Sans', sans-serif;
  background-color: white;
  color: #5C4C46;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/* line 51, base.scss */
a:link,
a:visited,
a:hover,
a:active {
  color: #5C4C46;
  font-weight: normal;
  text-decoration: none;
  outline: none;
}

/* line 61, base.scss */
a:hover {
  text-decoration: underline;
}

/* line 65, base.scss */
h1 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 3.2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* line 75, base.scss */
h2 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 2.6em;
  font-weight: normal;
  margin: 0;
  padding: .4em;
}

/* line 84, base.scss */
h3 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 2.6em;
  font-weight: bold;
}

/* line 91, base.scss */
h4 {
  font-family: "Adelle Sans", sans-serif;
  color: #5C4C46;
  font-size: 1.4em;
  font-weight: normal;
}

/* line 98, base.scss */
a img {
  border: none;
}

/* line 102, base.scss */
h1.logo-color {
  background: url("../images/logo_large.svg") no-repeat center top;
  height: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 110, base.scss */
h1.logo-dark {
  background: url("../images/logo_dark.svg") no-repeat center top;
  height: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 118, base.scss */
.logo-white {
  background: url("../images/logo_white.svg") no-repeat center top;
  height: 2em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 127, base.scss */
#nav-linkedin::after {
  height: 0 !important;
}
/* line 130, base.scss */
#nav-linkedin svg {
  width: 1.6em;
  height: 1.6em;
}
/* line 133, base.scss */
#nav-linkedin svg path {
  fill: #a99e99;
  transition: all 300ms ease-in;
}
/* line 137, base.scss */
#nav-linkedin svg:hover path {
  fill: #E86432 !important;
  transition: all 300ms ease-in;
}

/* line 144, base.scss */
.bgimage {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

/* line 151, base.scss */
header.not-fullscreen {
  height: 18em;
  width: 100%;
  background-image: url("../images/story.jpg");
  background-size: 100%;
  background-position: center top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: solid 3px #E86432;
}

/* line 164, base.scss */
content#main {
  display: block;
  padding: 1em 4em;
  max-width: 70em;
  margin: 20em auto 0;
}

/* line 171, base.scss */
article {
  clear: both;
}
/* line 173, base.scss */
article .article-image {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 28em;
  width: 28em;
  float: left;
}
/* line 180, base.scss */
article .article-content {
  margin-top: 2em;
  margin-left: 30em;
}
/* line 183, base.scss */
article .article-content p {
  margin: 0 0 2em;
}

/* line 190, base.scss */
nav {
  display: none;
  width: 100%;
}
/* line 193, base.scss */
nav.sticky {
  display: block;
}
/* line 196, base.scss */
nav ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0;
}
/* line 201, base.scss */
nav a#mobileMenuOpen {
  height: 2em;
  width: 2em;
  float: right;
  padding: .2em;
  margin: .4em;
}
/* line 208, base.scss */
nav ul#fullmenu {
  max-height: 0;
  transition: all 500ms ease-in;
  overflow: hidden;
  border-bottom: solid 2px #E86432;
}
/* line 213, base.scss */
nav ul#fullmenu.open {
  max-height: 60em;
  transition: all 600ms ease-in;
}
/* line 217, base.scss */
nav ul#fullmenu li {
  width: 100%;
  text-align: center;
  padding: .4em;
  display: block;
}
/* line 222, base.scss */
nav ul#fullmenu li a {
  width: 100%;
  padding: .4em;
  display: block;
}

/* line 234, base.scss */
footer {
  text-align: center;
  background-color: #C7522A;
  color: white;
  clear: both;
  opacity: .9;
}
/* line 240, base.scss */
footer a:link,
footer a:hover,
footer a:visited,
footer a:hover {
  color: white;
  text-decoration: none;
}
/* line 247, base.scss */
footer > ul {
  margin: 0 auto;
  max-width: 80em;
  padding: 1em;
  list-style: none;
  font-family: "Adelle Sans", sans-serif;
}
/* line 253, base.scss */
footer > ul > li {
  display: block;
  vertical-align: top;
  padding: 1em;
  text-align: center;
}
/* line 258, base.scss */
footer > ul > li ul {
  list-style: none;
  font-size: .8em;
  padding-left: 0;
}
/* line 262, base.scss */
footer > ul > li ul li {
  padding-top: .4em;
}
/* line 268, base.scss */
footer #copyright {
  font-family: "Adelle Sans", sans-serif;
  font-size: .7em;
  padding-bottom: 1em;
}

/* line 279, base.scss */
body.homepage div#logo {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
/* line 284, base.scss */
body.homepage div#logo h1.logo-color {
  height: 4em;
}
/* line 288, base.scss */
body.homepage header#hero {
  height: 100em;
  background: url("../images/gradient-dark.png") repeat-x bottom;
}
/* line 291, base.scss */
body.homepage header#hero nav {
  transition: all 300ms ease-in;
}
/* line 293, base.scss */
body.homepage header#hero nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  opacity: 1;
  transition: all 300ms ease-in;
}
/* line 301, base.scss */
body.homepage header#hero nav.sticky a#nav-logo {
  width: 100%;
  opacity: 1;
  transition: all 300ms ease-in;
  display: block;
}
/* line 308, base.scss */
body.homepage header#hero nav a#nav-logo {
  opacity: 0;
  transition: all 300ms ease-in;
  padding: 0 3.2em;
}
/* line 315, base.scss */
body.homepage div.tagline {
  position: relative;
  display: none;
}
/* line 319, base.scss */
body.homepage div#enter {
  position: absolute;
  z-index: 102;
  bottom: 4%;
  width: 100%;
  text-align: center;
}
/* line 325, base.scss */
body.homepage div#enter a svg {
  height: 4em;
  width: 4em;
  display: inline-block;
}
/* line 329, base.scss */
body.homepage div#enter a svg path {
  fill: white;
  transition: all 300ms ease-in;
}
/* line 333, base.scss */
body.homepage div#enter a svg:hover path {
  fill: #E86432 !important;
  transition: all 300ms ease-in;
}
/* line 340, base.scss */
body.homepage section.homepage-summary {
  display: block;
  padding: 1em;
  text-align: center;
  background-color: #E86432;
  color: white;
  opacity: .9;
  font-family: "OfficinaSerITCStd", serif;
  font-size: 1.8em;
  font-weight: normal;
}
/* line 352, base.scss */
body.homepage aside.homepage-left {
  text-align: center;
  padding: 3em 0 1em;
}
/* line 355, base.scss */
body.homepage aside.homepage-left a {
  text-decoration: none;
}
/* line 358, base.scss */
body.homepage aside.homepage-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 362, base.scss */
body.homepage aside.homepage-left ul li {
  font-family: "Adelle Sans", sans-serif;
  padding: .4em 1em;
  margin: .6em;
}
/* line 366, base.scss */
body.homepage aside.homepage-left ul li a {
  color: white;
  padding: .2em .5em;
}
/* line 370, base.scss */
body.homepage aside.homepage-left ul li.active a,
body.homepage aside.homepage-left ul li a:hover {
  border: solid 0.15em #E86432;
  border-radius: .4em;
  text-decoration: none;
}
/* line 381, base.scss */
body.homepage section.homepage-right {
  background-color: white;
  min-height: 32em;
  padding: 1em;
}
/* line 385, base.scss */
body.homepage section.homepage-right .learn-more {
  margin-top: 3em;
  text-align: center;
}
/* line 388, base.scss */
body.homepage section.homepage-right .learn-more a {
  border: solid 0.15em #E86432;
  border-radius: .4em;
  padding: .2em .6em;
  color: #E86432;
  text-decoration: none;
}
/* line 394, base.scss */
body.homepage section.homepage-right .learn-more a:active {
  padding: .16em .55em;
  font-size: .92em;
}

@media screen and (min-width: 44em) {
  /* line 1, breakpoint-medium.scss */
  h2 {
    font-size: 2.8em;
  }

  /* line 5, breakpoint-medium.scss */
  h4 {
    font-size: 1.7em;
  }

  /* line 9, breakpoint-medium.scss */
  nav {
    display: block;
    height: 78px;
  }
  /* line 12, breakpoint-medium.scss */
  nav a#mobileMenuOpen {
    display: none;
  }
  /* line 15, breakpoint-medium.scss */
  nav .logo {
    height: 1.3em;
    margin-top: .2em;
    width: 3em;
    display: inline-block;
  }
  /* line 21, breakpoint-medium.scss */
  nav ul#fullmenu {
    max-height: none;
    float: right;
    padding-right: 2em;
    padding-top: 30px;
    border: none;
  }
  /* line 27, breakpoint-medium.scss */
  nav ul#fullmenu li {
    width: auto;
    display: inline-block;
    padding: .2em .2em;
    vertical-align: middle;
  }
  /* line 32, breakpoint-medium.scss */
  nav ul#fullmenu li a:link,
  nav ul#fullmenu li a:visited,
  nav ul#fullmenu li a:hover,
  nav ul#fullmenu li a:active,
  nav ul#fullmenu li a.active {
    position: relative;
    display: inline-block;
    margin: .2em .4em;
    padding: 0;
    width: auto;
    font-family: "Adelle Sans", sans-serif;
    color: #7F716B;
    font-size: .9em;
  }
  /* line 46, breakpoint-medium.scss */
  nav ul#fullmenu li a:hover,
  nav ul#fullmenu li a:focus {
    text-decoration: none;
  }
  /* line 50, breakpoint-medium.scss */
  nav ul#fullmenu li a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E86432;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  /* line 66, breakpoint-medium.scss */
  nav ul#fullmenu li a:hover::after,
  nav ul#fullmenu li a:focus::after,
  nav ul#fullmenu li a.active::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
  }

  /* line 80, breakpoint-medium.scss */
  footer > ul > li {
    display: inline-block;
    text-align: left;
  }
  /* line 83, breakpoint-medium.scss */
  footer > ul > li ul li {
    max-width: 17em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 95, breakpoint-medium.scss */
  body.homepage header#hero nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /* line 100, breakpoint-medium.scss */
  body.homepage header#hero nav.sticky a#nav-logo {
    width: auto;
    float: left;
    display: inline-block;
  }
  /* line 106, breakpoint-medium.scss */
  body.homepage header#hero nav a#nav-logo {
    padding: 0;
  }
  /* line 110, breakpoint-medium.scss */
  body.homepage header#hero div.tagline {
    display: block;
    font-size: 1.6em;
    letter-spacing: .1em;
    font-family: "OfficinaSerITCStd", serif;
    color: white;
    width: 100%;
    text-align: center;
    height: 0;
    overflow: visible;
  }
  /* line 122, breakpoint-medium.scss */
  body.homepage section.homepage-summary {
    padding: 3.6em;
    font-size: 2.6em;
  }
  /* line 126, breakpoint-medium.scss */
  body.homepage aside.homepage-left {
    width: 50%;
    float: left;
    height: 25em;
    margin-top: 14em;
  }
  /* line 131, breakpoint-medium.scss */
  body.homepage aside.homepage-left ul li {
    margin: 1em;
  }
  /* line 135, breakpoint-medium.scss */
  body.homepage section.homepage-right {
    min-height: 35em;
    margin-left: 50%;
    padding: 13.2em 4em 1em;
  }
}
@media screen and (min-width: 56em) {
  /* line 4, breakpoint-large.scss */
  body.homepage header#hero nav .logo {
    width: 4em;
  }
  /* line 8, breakpoint-large.scss */
  body.homepage header#hero nav ul#fullmenu li {
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 14, breakpoint-large.scss */
  body.homepage header#hero div.tagline {
    font-size: 2.2em;
  }
}
