@font-face {
  font-family: 'Adelle Sans';
  src: url("../fonts/AdelleSansLight.eot");
  src: url("../fonts/AdelleSansLight.woff2") format("woff2"), url("../fonts/AdelleSansLight.woff") format("woff"), url("../fonts/AdelleSansLight.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OfficinaSerITCStd';
  src: url("../fonts/OfficinaSer.eot");
  src: url("../fonts/OfficinaSer.woff2") format("woff2"), url("../fonts/OfficinaSer.woff") format("woff"), url("../fonts/OfficinaSer.otf") format("otf");
}
body {
  font-family: 'Adelle Sans', sans-serif;
  background-color: white;
  color: #5C4C46;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #5C4C46;
  font-weight: normal;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #E86432;
  text-decoration: none;
}

strong a {
  font-weight: bold !important;
}

h1 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 3.2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 2.6em;
  font-weight: normal;
  margin: 0;
  padding: .4em;
}

h3 {
  font-family: "OfficinaSerITCStd", serif;
  color: white;
  font-size: 2.6em;
  font-weight: bold;
}

h4 {
  font-family: "Adelle Sans", sans-serif;
  color: #5C4C46;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 1rem 0;
}

h5 {
  font-size: 1.1rem;
  font-weight: normal;
}

a img {
  border: none;
}

ul {
  list-style: none;
  list-style-image: url("../images/bullet.png");
}

.velocity-animating {
  transition: none;
}

.red {
  color: red;
}

h1.logo-color {
  background: url("../images/logo_large.svg") no-repeat center top;
  height: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h1.logo-dark {
  background: url("../images/logo_dark.svg") no-repeat center top;
  height: 1em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo-white {
  background: url("../images/logo_white.svg") no-repeat center top;
  height: 2em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#nav-linkedin::after {
  height: 0 !important;
}
#nav-linkedin svg {
  width: 1.6em;
  height: 1.6em;
}
#nav-linkedin svg path {
  fill: #a99e99;
  -moz-transition: fill 300ms ease-in;
  -webkit-transition: fill 300ms ease-in;
  transition: fill 300ms ease-in;
}
#nav-linkedin svg:hover path {
  fill: #E86432 !important;
  -moz-transition: fill 300ms ease-in;
  -webkit-transition: fill 300ms ease-in;
  transition: fill 300ms ease-in;
}

.bgimage {
  background-repeat: no-repeat;
  background-position: center top;
}

.bgimage-container {
  overflow: hidden;
  position: relative;
}
.bgimage-container .bgimage {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.bgimage-container .bgimage.mobile {
  display: block !important;
}

header.not-fullscreen {
  width: 100%;
  height: 3.2rem;
  background-image: url("../images/default_header_mobile.jpg");
  background-size: 100%;
  background-position: center top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header.not-fullscreen.journal {
  background-image: url("../images/journal_header_mobile.jpg");
}
header.not-fullscreen.contact {
  background-image: url("../images/contact_header_mobile.jpg");
}
header.not-fullscreen nav {
  display: block;
}
header.not-fullscreen nav a#mobileMenuOpen {
  padding: 0 .6rem;
}
header.not-fullscreen nav a#mobileMenuOpen svg path {
  fill: gray;
}
header.not-fullscreen nav a#mobileMenuOpen:hover svg path {
  fill: #E86432;
}
header.not-fullscreen nav a#nav-logo {
  width: 100%;
  display: block;
  margin: 0 3.2rem;
}

.section-anchor,
.subsection-anchor {
  display: block;
  position: relative;
  top: -3.1rem;
}

content#main {
  padding: 0;
  margin: 3rem 0 0;
  display: block;
}
content#main .content-center {
  padding: 1rem;
}
content#main .content-center img {
  max-width: 100%;
}

.field {
  padding-top: .4rem;
  width: 100%;
}
.field input,
.field textarea {
  width: 100%;
  max-width: 22rem;
  padding: .3rem;
}
.field input[type="submit"] {
  border: solid 0.15em #E86432;
  border-radius: .4em;
  padding: .2em .6em;
  color: #E86432;
  background-color: white;
  cursor: hand;
  width: auto;
  font-size: 1rem;
}

.errorlist {
  margin: .2em 0 0;
  padding: 0;
  color: red;
  list-style: none;
  font-size: .9rem;
}

section.summary {
  display: block;
  position: relative;
  z-index: 99;
  padding: 1em;
  text-align: center;
  background-color: #E86432;
  color: white;
  font-family: "OfficinaSerITCStd", serif;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2em;
}
section.summary.largetext {
  font-size: 2.2rem;
}
section.summary.teaser {
  font-size: 1.7rem;
}
section.summary p {
  padding: 0;
  margin: 0;
}

article {
  margin-top: 2rem;
  padding-bottom: 1rem;
  clear: both;
}
article .article-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 14rem;
}
article .article-inline-image img {
  max-width: 100%;
}
article .article-content h4 {
  margin: 1rem 0;
  padding: 0;
}
article .article-content h5 {
  margin: 0 0 .6rem 0;
  padding: 0;
}
article .article-content p {
  margin: 0 0 1rem;
}

nav {
  z-index: 1000;
  display: none;
  width: 100%;
}
nav.sticky {
  display: block;
}
nav ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0;
}
nav a#mobileMenuOpen {
  height: 2rem;
  width: 2rem;
  float: right;
}
nav a#mobileMenuOpen:hover svg path {
  fill: #E86432;
}
nav a#nav-logo h1 {
  height: 2rem;
  margin: .6rem;
}
nav ul#fullmenu {
  background-color: white;
  position: absolute;
  top: 3.2rem;
  width: 100%;
  max-height: 0;
  -moz-transition: max-height 300ms ease-in;
  -webkit-transition: max-height 300ms ease-in;
  transition: max-height 300ms ease-in;
  overflow: hidden;
  border-bottom: solid 2px #E86432;
}
nav ul#fullmenu.open {
  max-height: 22rem;
  -moz-transition: max-height 400ms ease-in;
  -webkit-transition: max-height 400ms ease-in;
  transition: max-height 400ms ease-in;
}
nav ul#fullmenu li {
  width: 100%;
  text-align: center;
  padding: .2rem;
  display: block;
}
nav ul#fullmenu li a {
  width: 100%;
  font-size: 1rem !important;
  font-weight: normal;
  padding: .4rem;
  display: block;
}

footer {
  text-align: center;
  background-color: #E86432;
  color: white;
  clear: both;
}
footer a:link,
footer a:hover,
footer a:visited,
footer a:hover {
  color: white;
  text-decoration: none;
}
footer > ul {
  margin: 0 auto;
  max-width: 80em;
  padding: 1em;
  list-style: none;
  font-family: "Adelle Sans", sans-serif;
}
footer > ul > li {
  display: block;
  vertical-align: top;
  padding: 1em;
  text-align: center;
}
footer > ul > li ul {
  list-style: none;
  font-size: .8em;
  padding-left: 0;
}
footer > ul > li ul li {
  padding-top: .4em;
}
footer #branding {
  margin-top: 3rem;
}
footer #copyright {
  font-family: "Adelle Sans", sans-serif;
  font-size: .7em;
  padding-bottom: 1em;
}

div.button a {
  border: solid 0.15em #E86432;
  border-radius: .4em;
  padding: .2em .6em;
  color: #E86432;
  text-decoration: none;
}
div.button a:active {
  padding: .16em .55em;
  font-size: .92em;
}

body.homepage div#logo {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
body.homepage div#logo h1.logo-color {
  height: 5.6rem;
  margin: 1.6rem;
}
body.homepage header#hero {
  height: 100em;
  background: url("../images/gradient-dark.png") repeat-x bottom;
  position: relative;
  z-index: 999;
}
body.homepage header#hero nav {
  -moz-transition: background-color 300ms ease-in;
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}
body.homepage header#hero nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 3.2rem;
  background-color: white;
  opacity: 1;
  -moz-transition: background-color 300ms ease-in;
  -webkit-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}
body.homepage header#hero nav.sticky a#mobileMenuOpen {
  padding: .6rem;
}
body.homepage header#hero nav.sticky a#nav-logo {
  margin: 0 3.2rem;
  width: 100%;
  opacity: 1;
  -moz-transition: opacity 300ms ease-in;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  display: block;
}
body.homepage header#hero nav a#nav-logo {
  opacity: 0;
  -moz-transition: opacity 300ms ease-in;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
body.homepage div.tagline {
  position: relative;
  display: none;
  height: 0;
  overflow: hidden;
}
body.homepage div#enter {
  position: absolute;
  z-index: 1001;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}
body.homepage div#enter a svg {
  height: 3rem;
  width: 3rem;
  display: inline-block;
}
body.homepage div#enter a svg path {
  fill: white;
  -moz-transition: fill 300ms ease-in;
  -webkit-transition: fill 300ms ease-in;
  transition: fill 300ms ease-in;
}
body.homepage div#enter a svg:hover path {
  fill: #E86432 !important;
  -moz-transition: fill 300ms ease-in;
  -webkit-transition: fill 300ms ease-in;
  transition: fill 300ms ease-in;
}
body.homepage aside.homepage-left {
  text-align: center;
  padding: 2em 0;
}
body.homepage aside.homepage-left a {
  text-decoration: none;
}
body.homepage aside.homepage-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.homepage aside.homepage-left ul li {
  font-family: "Adelle Sans", sans-serif;
  padding: .4em 1em;
  margin: .6em;
}
body.homepage aside.homepage-left ul li a {
  color: white;
  padding: .2em .5em;
}
body.homepage aside.homepage-left ul li.active a,
body.homepage aside.homepage-left ul li a:hover {
  border: solid 0.15em #E86432;
  border-radius: .4em;
  text-decoration: none;
}
body.homepage section.homepage-right {
  background-color: white;
  min-height: 32em;
  padding: 1em;
}
body.homepage section.homepage-right .learn-more {
  margin-top: 3em;
  text-align: center;
}

.gm-style-cc {
  display: none;
}

@media screen and (min-aspect-ratio: 8 / 3), screen and (max-height: 36rem) {
  div#enter {
    display: none;
  }

  body.homepage div#logo h1.logo-color {
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 48em) {
  h2 {
    font-size: 2.8em;
  }

  h4 {
    font-size: 1.6rem;
  }

  nav {
    display: block;
    height: 78px;
  }
  nav a#mobileMenuOpen {
    display: none;
  }
  nav a#nav-logo h1.logo {
    margin: 1.5rem 1.4rem 1.3rem 2.4rem;
    width: 8rem;
    height: auto;
    display: inline-block;
  }
  nav ul#fullmenu {
    background-color: transparent;
    position: static;
    width: auto;
    max-height: none;
    float: right;
    padding-right: 1rem;
    padding-top: 30px;
    border: none;
  }
  nav ul#fullmenu li {
    width: auto;
    display: inline-block;
    padding: .2rem .5rem;
    vertical-align: middle;
  }
  nav ul#fullmenu li a:link,
  nav ul#fullmenu li a:visited,
  nav ul#fullmenu li a:hover,
  nav ul#fullmenu li a:active,
  nav ul#fullmenu li a.active {
    position: relative;
    display: inline-block;
    margin: .2em .4em;
    padding: 0;
    width: auto;
    font-family: "Adelle Sans", sans-serif;
    color: #7F716B;
    font-size: .9em;
  }
  nav ul#fullmenu li a:hover,
  nav ul#fullmenu li a:focus {
    text-decoration: none;
  }
  nav ul#fullmenu li a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E86432;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  nav ul#fullmenu li a:hover::after,
  nav ul#fullmenu li a:focus::after,
  nav ul#fullmenu li a.active::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
  }

  footer {
    font-size: .9em;
  }
  footer > ul > li {
    padding: .8em;
    display: inline-block;
    text-align: left;
  }
  footer > ul > li ul li {
    max-width: 14em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-bgimage {
    background-size: cover;
    background-attachment: fixed;
  }
  .section-bgimage .bgimage {
    display: block;
  }

  .bgimage section.summary,
  .bgimage-container section.summary {
    opacity: .9;
  }

  header.not-fullscreen {
    background-image: url("../images/default_header.jpg");
    height: 15rem;
    border-bottom: solid 3px #E86432;
  }
  header.not-fullscreen.journal {
    background-image: url("../images/journal_header.jpg");
  }
  header.not-fullscreen.contact {
    background-image: url("../images/contact_header.jpg");
  }
  header.not-fullscreen nav a#nav-logo {
    padding: 0;
    float: left;
    width: auto;
    margin: 0;
  }
  header.not-fullscreen nav a#nav-logo h1 {
    height: 1.3em;
  }
  header.not-fullscreen nav ul#fullmenu {
    background-color: transparent;
  }
  header.not-fullscreen nav ul#fullmenu li a {
    color: white;
  }

  .section-anchor,
  .subsection-anchor {
    top: -76px;
  }

  content#main {
    margin: 15rem 0 0 0;
  }
  content#main section.summary {
    padding: 5rem;
  }
  content#main .content-center {
    padding: 1em 4em;
    margin: 2rem auto 4rem;
    max-width: 70em;
  }

  article h4 {
    margin: 0;
  }
  article .article-image {
    height: 26rem;
    width: 26rem;
    float: left;
    background-position: center top;
  }
  article .article-inline-image {
    float: left;
  }
  article .article-inline-image img {
    width: 20rem;
  }
  article .article-content.has-inline-image {
    margin-left: 23rem;
  }
  article .article-content.has-floating-image {
    margin-left: 28rem;
  }

  section.summary {
    padding: 8rem;
    font-size: 2.6rem;
    line-height: 3rem;
  }
  section.summary.largetext {
    font-size: 3.4rem;
  }
  section.summary.teaser {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 3rem !important;
  }

  body.homepage header#hero nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  body.homepage header#hero nav.sticky {
    height: 78px;
  }
  body.homepage header#hero nav.sticky a#nav-logo {
    margin: 0;
    width: auto;
    float: left;
    display: inline-block;
  }
  body.homepage header#hero nav a#nav-logo {
    padding: 0;
  }
  body.homepage header#hero div.tagline {
    display: block;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: "OfficinaSerITCStd", serif;
    color: white;
    width: 100%;
    text-align: center;
    overflow: visible;
  }
  body.homepage header#hero div#enter {
    bottom: 2rem;
  }
  body.homepage header#hero div#enter a svg {
    height: 4rem;
    width: 4rem;
  }
  body.homepage aside.homepage-left {
    width: 50%;
    float: left;
    height: 15rem;
    margin-top: 4rem;
  }
  body.homepage aside.homepage-left ul li {
    margin: 1rem;
  }
  body.homepage section.homepage-right {
    min-height: 25rem;
    margin-left: 50%;
    padding: 3.2rem 4rem 1rem;
  }
  body.homepage section.homepage-right div.teaser {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 48em) and (min-aspect-ratio: 8 / 3), screen and (min-width: 48em) and (max-height: 32rem) {
  body.homepage aside.homepage-left {
    margin-top: 2rem;
  }
  body.homepage section.homepage-right {
    padding-top: 2rem;
  }

  header.not-fullscreen {
    height: 10rem !important;
  }

  content#main {
    margin-top: 10rem !important;
  }
}
@media screen and (min-width: 64em) {
  nav ul#fullmenu li {
    padding-left: 1em;
    padding-right: 1em;
  }
  nav ul#fullmenu li a {
    margin: .2rem 1rem;
  }

  footer {
    font-size: 1em;
  }
  footer > ul > li {
    padding: 1em;
  }

  body.homepage header#hero h1.logo-color {
    height: 7rem;
    margin: 2rem;
  }
  body.homepage header#hero div.tagline {
    font-size: 2.2em;
  }
}
