nav ul#fullmenu li {
  padding-left: 1em;
  padding-right: 1em;
}
nav ul#fullmenu li a {
  margin: .2rem 1rem;
}

body.homepage header#hero nav .logo {
  width: 4em;
}
body.homepage header#hero div.tagline {
  font-size: 2.2em;
}
