h2 {
	font-size: 2.8em;
}

h4 {
	font-size: 1.7em;
}

nav {
	display: block;
	height: 78px;
	a#mobileMenuOpen {
		display: none;
	}
	.logo {
		height: 1.3em;
		margin-top: .2em;
		width: 3em;
		display: inline-block;
	}
	ul#fullmenu {
		max-height: none;
		float: right;
		padding-right: 2em;
		padding-top: 30px;
		li {
			width: auto;
			display: inline-block;
			padding: .2em .2em;
			vertical-align: middle;
			a:link,
			a:visited,
			a:hover,
			a:active,
			a.active {
				position: relative;
				display: inline-block;
				margin: .2em .4em;
				padding: 0;
				width: auto;
				font-family: $adelle_sans;
				color: $secondary4;
				font-size: .9em;
			}
			a:hover,
			a:focus {
				text-decoration: none;
			}
			a::after {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background: $primary1;
				content: '';
				opacity: 0;
				-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
				transition: height 0.3s, opacity 0.3s, transform 0.3s;
				-webkit-transform: translateY(-8px);
				-moz-transform: translateY(-8px);
				transform: translateY(-8px);
			}
			a:hover::after,
			a:focus::after,
			a.active::after {
				height: 2px;
				opacity: 1;
				-webkit-transform: translateY(2px);
				-moz-transform: translateY(2px);
				transform: translateY(2px);
			}
		}
	}
}

body.homepage {
	header#hero nav {
		position: absolute;
		bottom: 0;
		right: 0;
		&.sticky {
			a#nav-logo {
				width: auto;
				float: left;
				padding: 0;
				display: inline-block;
			}
		}
	}
	section.homepage-summary {
		padding: 3.6em;
		font-size: 2.6em;
	}
	aside.homepage-left {
		width: 50%;
		float: left;
		height: 33em;
		margin-top: 14em;
		ul li {
			margin: 1em;
		}
	}
	section.homepage-right {
		min-height: 35em;
		margin-left: 50%;
		padding: 13.2em 4em 1em;
	}
}