body.homepage {
	header#hero {
		nav {
			.logo {
				width: 4em;
			}
			ul#fullmenu {
				li {
					padding-left: 1em;
					padding-right: 1em;
				}
			}
		}
		div.tagline {
			font-size: 2.2em;
		}
	}
}