h2 {
	font-size: 2.8em;
}

h4 {
	font-size: 1.7em;
}

nav {
	display: block;
	height: 78px;
	a#mobileMenuOpen {
		display: none;
	}
	.logo {
		height: 1.3em;
		margin-top: .2em;
		width: 4em;
		display: inline-block;
	}
	ul#fullmenu {
		max-height: none;
		float: right;
		padding-right: 2em;
		padding-top: 30px;
		border: none;
		li {
			width: auto;
			display: inline-block;
			padding: .2em 1em;
			vertical-align: middle;
			a:link,
			a:visited,
			a:hover,
			a:active,
			a.active {
				position: relative;
				display: inline-block;
				margin: .2em .4em;
				padding: 0;
				width: auto;
				font-family: $adelle_sans;
				color: $secondary4;
				font-size: .9em;
			}
			a:hover,
			a:focus {
				text-decoration: none;
			}
			a::after {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background: $primary1;
				content: '';
				opacity: 0;
				-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
				transition: height 0.3s, opacity 0.3s, transform 0.3s;
				-webkit-transform: translateY(-8px);
				-moz-transform: translateY(-8px);
				transform: translateY(-8px);
			}
			a:hover::after,
			a:focus::after,
			a.active::after {
				height: 2px;
				opacity: 1;
				-webkit-transform: translateY(2px);
				-moz-transform: translateY(2px);
				transform: translateY(2px);
			}
		}
	}
}

footer {
	& > ul > li {
		display: inline-block;
		text-align: left;
		ul li {
			max-width: 16em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.section-bgimage {
	background-size: cover;
	background-attachment: fixed;
}

header.not-fullscreen {
	height: 15rem;
	border-bottom: solid 3px $primary1;
	nav {
		a#nav-logo {
			padding: 0;
			float: left;
			width: auto;
			margin: 0 2rem;
			h1 {
				height: 1.3em;
			}
		}
		ul#fullmenu {
			background-color: transparent;
			li a {
				color: white;
			}
		}
	}
}

.section-anchor,
.subsection-anchor {
	top: -76px;
}

content#main {
	margin: 15rem 0 0 0;
	.content-center {
		padding: 1em 4em;
		margin: 2rem auto 4rem;
		max-width: 70em;
	}
	
}

article {
	.article-image {

		height: 28rem;
		width: 28rem;
		float: left;
		background-position: center top;
	}
	.article-inline-image {
		float: left;
		img {
			width: 28rem;
		}
	}
	.article-content {
		margin-left: 30em;
	}
}

section.summary {
	padding: 3.6em;
	font-size: 2.6em;
	line-height: 1.3em;
	opacity: .9;
}

body.homepage {
	header#hero {
		nav {
			position: absolute;
			bottom: 0;
			right: 0;
			&.sticky {
				a#nav-logo {
					margin: 0 2rem;
					width: auto;
					float: left;
					display: inline-block;
				}
			}
			a#nav-logo {
				padding: 0;
			}
		}
		div.tagline {
			display: block;
			font-size: 1.6em;
			letter-spacing: .1em;
			font-family: $officina;
			color: white;
			width: 100%;
			text-align: center;
			overflow: visible;
		}
		div#enter {
			bottom: 2rem;
			a svg {
				height: 4rem;
				width: 4rem;
			}
		}
	}
	aside.homepage-left {
		width: 50%;
		float: left;
		height: 25em;
		margin-top: 14em;
		ul li {
			margin: 1em;
		}
	}
	section.homepage-right {
		min-height: 35em;
		margin-left: 50%;
		padding: 13.2em 4em 1em;
		div.teaser {
			margin-top: 4rem;
		}
	}
}

@media screen and (min-aspect-ratio: 8/3) {
	body.homepage {
		aside.homepage-left {
			margin-top: 8rem;
		}
		section.homepage-right {
			padding-top: 8rem;
		}
	}
}