<html>
<head>
{% load staticfiles %}
<title>{% block title %}1Source. It's About Service.{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
<link href="{% static "css/error.css" %}" rel="stylesheet" type="text/css">
</head>
<body>

	<div id="logo"><img src="{% static "images/logo_dark.png" %}"></div>

	<h1>Page Not Found</h1>

	<p>It looks like you have stumbled onto a page that does not exist.</p>
	<p>Please go back to the <a href="/">homepage</a> and or <a href="mailto:info@1-sc.com">email us</a> if there is something missing.</p>

</body>
</html>