<!doctype html>
<html>
<head>
{% load staticfiles %}
{% load compress %}
<title>{% block title %}1Source. It's About Service.{% endblock %}</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#3B2B26">
<!--[if lt IE 9]><script type="text/javascript">window.location = "/unsupported_browser/";</script><![endif]-->
<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
{% compress css %}
<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
{% endcompress %}
</head>
<body class="{% block bodyclass %}other{% endblock %}">
<a id="top" class="anchor"></a>
{% block content %}{% endblock %}

{% compress js %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/velocity.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% block scriptload %}{% endblock %}
{% endcompress %}
</body>
</html>