{% extends "base.html" %}

{% block bodyclass %}page{% endblock %}
{% block content %}

<header class="contact not-fullscreen">
        {% load navigation %}
        {% navigation %}
</header>
<content id="main">

    <h4>Contact Us</h4>

    <div class="body">

        <p>Telephone: <a href="tel:+13019160050">301.916.0050</a></p>

        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}
    
        <form action="" method="post">
            <div class="field">
                <label for="id_subject">Subject:</label><br>
                {{ form.subject.errors }}
                {{ form.subject }}
            </div>
            <div class="field">
                <label for="id_email">Your e-mail address:</label><br>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="field">
                <label for="id_message">Message:</label><br>
                {{ form.message.errors }}
                {{ form.message }}
            </div>
            {% csrf_token %}
            <div class="field">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>


</content>

{% load footer %}
{% footer %}
{% endblock %}