{% extends "base.html" %}

{% block bodyclass %}page{% endblock %}

{% load staticfiles %}

{% block content %}

<header class="contact not-fullscreen">
        {% load navigation %}
        {% navigation "contact" %}
</header>
<content id="main">

    <h4>Contact Us</h4>

    <div class="body">

        <p>Telephone: <a href="tel:+13019160050">301.916.0050</a></p>
        
        <p>Address: <a href="http://maps.google.com/maps?daddr=39.1926623,-77.2669107&amp;z=10">20440 Century Blvd, Germantown, MD 20874</a></p>

        <div id="map" style="width: 100%; height: 16rem"></div>

        <script src="{% static "js/leaflet.js" %}"></script>
        <link href="{% static "css/leaflet.css" %}" rel="stylesheet" type="text/css">
        <script>
            L.Icon.Default.imagePath = '/static/images';

            var map = L.map('map', {
                zoomControl: false,
                attributionControl: false,
            }).setView([39.1926623,-77.2669107], 15);

            L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                maxZoom: 18,

                id: 'examples.map-i87786ca'
            }).addTo(map);
            
            var onesourceMarker = L.icon({
                iconUrl: '/static/images/1source-marker-2x.png',
                shadowUrl: '/static/images/1source-marker-shadow.png',
                iconSize: [35, 45],
                iconAnchor:   [17, 42],
                popupAnchor: [1, -32],
                shadowAnchor: [10, 12],
                shadowSize: [36, 16],
            });
    
            var marker = L.marker([39.1928691,-77.2667025], {icon: onesourceMarker}).addTo(map);
        </script>

        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}
    
        <form action="" method="post">
            <div class="field">
                <label for="id_subject">Subject:</label><br>
                {{ form.subject.errors }}
                {{ form.subject }}
            </div>
            <div class="field">
                <label for="id_email">Your e-mail address:</label><br>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="field">
                <label for="id_message">Message:</label><br>
                {{ form.message.errors }}
                {{ form.message }}
            </div>
            {% csrf_token %}
            <div class="field">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>


</content>

{% load footer %}
{% footer %}
{% endblock %}