	<footer>
		<ul>
			<li>STORY
				<ul>
					<li>OUR STORY</li>
					<li>FOUNDERS</li>
					<li>COMMUNITY COMMITMENT</li>
				</ul>
			</li>
			<li>SERVICES
				<ul>
					<li>BUSINESS &amp; IT STRATEGY</li>
					<li>MANAGING FOR SUCCESS</li>
					<li>CORE TECHNICAL COMPETENCIES</li>
				</ul>
			</li>
			<li>SUCCESSES
				<ul>
					<li>CUSTOMER SUCCESS</li>
					<li>WHAT OTHERS ARE SAYING</li>
					<li>CONTRACT VEHICLES</li>
				</ul>
			</li>
			<li>JOURNAL
				<ul>
					{% for entry in journal %}
						<li>{{ entry.title|upper }}</li>
					{% endfor %}
				</ul>
			</li>
			<li>CONTACT
				<ul>
					<li>JOIN OUR TEAM</li>
					<li>CONTACT / DIRECTIONS</li>
					<li>SITE MAP</li>
				</ul>
			</li>
		</ul>

		<div id="branding">
			<a href="/#top"><h1 class="logo-white">1Source</h1></a>
			<div id="copyright">
				&copy; 2014 1Source. All Rights Reserved | Legal &amp; Privacy
			</div>
		</div>
	</footer>