	<footer>
		<ul>
			{% for section, subsections in section_list %}
				<li class="subsection-link"><a href="{{ section.get_absolute_url }}">{{ section.title|upper }}</a>
					<ul>
					{% for subsection in subsections %}
						<li class="subsection-link"><a href="{{ subsection.get_absolute_url }}">{{ subsection.name|upper }}</a>
					{% endfor %}
					</ul>
			{% endfor %}

			<li><a href="/journal">JOURNAL</a>
				<ul>
					{% for entry in journal %}
						<li><a href="{{ entry.get_absolute_url }}">{{ entry.title|upper }}</a>
					{% endfor %}
				</ul>
			<li><a href="/contact">CONTACT</a>
				<ul>
					<li><a href="/page/join-our-team/">JOIN OUR TEAM</a>
					<li><a href="/contact">CONTACT / DIRECTIONS</a>
					<li><a href="/page/sitemap">SITE MAP</a>
				</ul>
		</ul>

		<div id="branding">
			<a href="/#top"><h1 class="logo-white">1Source</h1></a>
			<div id="copyright">
				&copy; 2014 1Source. All Rights Reserved | Legal &amp; Privacy
			</div>
		</div>
	</footer>