<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/homepage.js" %}"></script>
</head>
<body class="homepage">
<a id="top" class="anchor"></a>
<div class="bgimage" style="background-image:url('{% static "images/homepage_welcome.jpg" %}');">
	<header id="hero">
		<div id="logo">
			<a href="/#story"><h1 class="logo_color">1Source</h1></a>
		</div>
		<div id="enter">
			<a href="#story"><svg><g><path style="fill:#ffffff" d="M 2,1 32,32 62,1 63,2 32,34 1,2 z" id="arrow"/></g></svg></a>
		</div>
		<nav id="main">
			<a href="/#top" id="nav_logo"><h1 class="logo_dark">1Source</h1></a>
			<ul>
				<li><a href="/#story">STORY</a></li>
				<li><a href="/#services">SERVICES</a></li>
				<li><a href="/#success">SUCCESS</a></li>
				<li><a href="/journal">JOURNAL</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="http://www.linkedin.com"><img src="{% static "images/linkedin.svg" %}" class="linkedin-icon" title="LinkedIn Profile"></a></li>
			</ul>
		</nav>
	</header>

{% for section, subsections in section_list %}
	<section class="homepage-summary">
		{{ section.featured_text }}
	</section>
</div>
{% with imgsrc="images/"|add:section.title|lower|add:".jpg" %}
<div class="bgimage" style="background-image:url('{% static imgsrc %}');">
{% endwith %}
	<a id="{{ section.title|lower }}" class="anchor"></a>
	<section class="homepage-detail section-{{ section|lower }}">
		<aside class="homepage-left" id="aside-{{ section.id }}">
			<h2>{{ section.title|upper }}</h2>
			<ul>
			{% for subsection in subsections %}
				<li {% if forloop.first	%}class="active" {% endif %}id="subsection-select-{{ subsection.id }}">
					<a href="javascript:homepageDetailLoad({{ section.id }}, {{ subsection.id }});">{{ subsection.name|upper }}</a>
				</li>
			{% endfor %}
			</ul>
		</aside>
		<section class="homepage-right section-{{ section|lower }}" id="section-{{ section.id }}">
			{% for subsection in subsections %}
				
				{% if subsection.section.id = section.id %}
					<div class="details{% if forloop.first %} active{% endif %}" id="subsection-{{ subsection.id }}"{% if not forloop.first %} style="display: none;"{% endif %}>
						<h4>{{ subsection.title|upper }}</h4>
						<p>{{ subsection.description|safe }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</section>
{% endfor %}

	<footer>
		<ul>
			<li>STORY
				<ul>
					<li>OUR STORY</li>
					<li>FOUNDERS</li>
					<li>COMMUNITY COMMITMENT</li>
				</ul>
			</li>
			<li>SERVICES
				<ul>
					<li>BUSINESS &amp; IT STRATEGY</li>
					<li>MANAGING FOR SUCCESS</li>
					<li>CORE TECHNICAL COMPETENCIES</li>
				</ul>
			</li>
			<li>SUCCESSES
				<ul>
					<li>CUSTOMER SUCCESS</li>
					<li>WHAT OTHERS ARE SAYING</li>
					<li>CONTRACT VEHICLES</li>
				</ul>
			</li>
			<li>JOURNAL</li>
			<li>CONTACT
				<ul>
					<li>JOIN OUR TEAM</li>
					<li>CONTACT / DIRECTIONS</li>
					<li>SITE MAP</li>
				</ul>
			</li>
		</ul>

		<div id="branding">
			<a href="/#top"><h1 class="logo_white">1Source</h1></a>
			<div id="copyright">
				&copy; 2014 1Source. All Rights Reserved | Legal &amp; Privacy
			</div>
		</div>
	</footer>
</div>
</body>
</html>