{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}homepage{% endblock %}
{% block content %}
<div class="bgimage" style="background-image:url('{% static "images/homepage_welcome.jpg" %}');">
	<header id="hero">
		<div id="logo">
			<a href="/#story"><h1 class="logo-color">1Source. It&rsquo;s About Service.</h1></a>

			<div class="tagline" id="tagline1" style="display:none;">enduring excellence</div>
			<div class="tagline" id="tagline2" style="display:none;">award-winning dedication</div>
			<div class="tagline" id="tagline3" style="display:none;">large-scale information technology</div>
			<div class="tagline" id="tagline4" style="display:none;">business and strategic consulting</div>
			<div class="tagline longfade" id="tagline5" style="display:none;">It&rsquo;s About Service.</div>
		</div>

		<div id="enter">
			<a href="#story"><svg viewBox="0 0 64 64"><g><path style="fill:#ffffff" d="M 2,1 32,32 62,1 63,2 32,34 1,2 z" id="arrow"/></g></svg></a>
		</div>
		{% load navigation %}
		{% navigation "home" "dark" %}
	</header>

{% for section, subsections in section_list %}
	<section class="homepage-summary">
		{{ section.featured_text }}
	</section>
</div>
<a id="{{ section.title|slugify }}" class="anchor section-anchor"></a>
<style type="text/css">
	#section-image-{{ section.id }} {
			background-image: url('{{ section.image_mobile.url }}');
	}
	@media screen and (min-width : 480px) {
		#section-image-{{ section.id }} {
			background-image: url('{{ section.image.url }}');
		}
	}
</style>
<div class="bgimage" id="section-image-{{ section.id }}">
	
	{% for subsection in subsections %}
		<a id="subsec-{{ subsection.name|slugify }}" class="anchor subsection-anchor"></a>
	{% endfor %}
	<section class="homepage-detail section-{{ section|slugify }}">
		<aside class="homepage-left" id="aside-{{ section.title|slugify }}">
			<a class="subsection-select-{{ section.title|slugify }}" href="javascript:homepageDetailLoad('{{ section.title|slugify }}');">
				<h2>{{ section.title|upper }}</h2>
			</a>
			<ul>
			{% for subsection in subsections %}
				<li id="subsection-select-{{ subsection.name|slugify }}">
					<a href="javascript:homepageDetailLoad('{{ subsection.name|slugify }}');">{{ subsection.name|upper }}</a>
			{% endfor %}
			</ul>
		</aside>
		<section class="homepage-right section-{{ section|slugify }}" id="section-{{ section.title|slugify }}">
			<div class="details active" id="subsection-{{ section.title|slugify }}">
				<h4>{{ section.teaser_text }}</h4>
			</div>
			{% for subsection in subsections %}
				
				{% if subsection.section.id = section.id %}
					<div class="details" id="subsection-{{ subsection.name|slugify }}" style="display: none;">
						<h4>{{ subsection.title }}</h4>
						<p>{{ subsection.description|safe }}</p>
						{% if subsection.learn_more %}<p class="learn-more"><a href="/page/{{ subsection.learn_more.alias }}">Learn more</a></p>{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</section>
{% endfor %}

{% load footer %}
{% footer %}
</div>
{% endblock %}