{% extends "base.html" %}

{% block bodyclass %}page{% endblock %}

{% load staticfiles %}

{% block scriptload %}
<script src="{% static "js/job_application_admin.js" %}"></script>
{% endblock %}

{% block content %}

<header class="job not-fullscreen">
        {% load navigation %}
        {% navigation %}
</header>
<content id="main">

<div class="content-center">

    <h4>Job Application</h4>

    <div class="body">

        {{ wizard.form.media }}

        <p>Step <em>{{ wizard.steps.step1 }}</em> of <em>{{ wizard.steps.count }}</em></p>

        {% if form.errors %}
            <p class="red">
                <strong>Please correct the error{{ form.errors|pluralize }} below.</strong>
                {# {{ form.errors }} #}
            </p>
        {% endif %}

        {% block form %}{% endblock %}

    </div>

</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}