{% extends "base.html" %}

{% block bodyclass %}job-listing{% endblock %}

{% load staticfiles %}

{% block content %}

<header class="jobs not-fullscreen">
        {% load navigation %}
        {% navigation %}
</header>
<content id="main">

<div class="content-center">

    <h4>Join Our Team</h4>

    <div class="body">

        <p>1 Source welcomes qualified applicants to submit their resumes for consideration to work in the areas of IT systems strategic planning and architecture development, systems engineering, software development, operations and maintenance, and cyber security. If you are interested in joining a highly motivated workforce, working in an exciting and challenging environment, while receiving industry competitive benefits and recognition. Please visit our current openings and apply now.</p>

        <p></p>

        <p><strong>Current Openings</strong></p>

        <ul>
        {% for job in jobs %}
            <li><strong><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></strong> ({{ job.code }}) {{ job.location }}</li>
        {% empty %}
            <li><strong>We do not have any openings currently</strong></li>
        {% endfor %}
        </ul>

        <p>1 Source is proud to be an equal opportunity employer. 1 Source in accordance with applicable law, does not discriminate in hiring or otherwise in employment on the basis of race, color, religion, sex, national origin, age, marital or Veteran status, disability, sexual orientation, or any other legally protected status.</p>

        <p></p>

        <p>
            <div class="button"><a href="/page/benefits">BENEFITS</a></div>
        </p>

        
    </div>

</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}