{% extends "admin/base.html" %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            <label for="id_job">Job:</label><br>
            {{ form.job.errors }}
            {{ form.job }}
        </div>
        <div class="field">
            <br>
            <label for="id_year">Year:</label><br>
            {{ form.year.errors }}
            {{ form.year }}
        </div>
        {% csrf_token %}
        <div class="field">
            <br><br>
            <input type="submit" value="Generate">
        </div>
    </form> 
{% endblock %}