{% extends "job_apply.html" %}

{% block form %}
    <form method="post" enctype="multipart/form-data">

        {{ wizard.management_form }}
        {% csrf_token %}

        <p>
            Form CC-305<br>
            OMB Control Number 1250-0005<br>
            Expires 1/31/2017
        </p>


        <p></p>

        <p><strong>Why are you being asked to complete this form?</strong></p>

        <p>
            Because we do business with the government, we must reach out to, hire, and provide equal opportunity to qualified people with disabilities.<sup><a href="#i">&nbsp;i&nbsp;</a></sup> To help us measure how well we are doing, we are asking you to tell us if you have a disability or if you ever had a disability. Completing this form is voluntary, but we hope that you will choose to fill it out. If you are applying for a job, any answer you give will be kept private and will not be used against you in any way.
        </p>
        <p>
            If you already work for us, your answer will not be used against you in any way. Because a person may become disabled at any time, we are required to ask all of our employees to update their information every five years. You may voluntarily self-identify as having a disability on this form without fear of any punishment because you did not identify as having a disability earlier.
        </p>

        <p></p>

        <p><strong>How do I know if I have a disability?</strong></p>

        <p>
            You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a major life activity, or if you have a history or record of such an impairment or medical condition.
        </p>

        <p>
            Disabilities include, but are not limited to:
            <ul>
                <li>Blindness
                <li>Autism
                <li>Bipolar disorder
                <li>Deafness
                <li>Cerebral palsy
                <li>Major depression
                <li>Cancer
                <li>HIV/AIDS
                <li>Multiple sclerosis (MS)
                <li>Diabetes
                <li>Schizophrenia
                <li>Missing limbs or
                <li>Epilepsy
                <li>Muscular
                <li>Partially missing limbs
                <li>Dystrophy
                <li>Post-traumatic stress disorder (PTSD)
                <li>Obsessive compulsive disorder
                <li>Impairments requiring the use of a wheelchair
                <li>Intellectual disability (previously called mental retardation)
            </ul>
        </p>

        <div class="field disability no-bullets">
            {{ form.disability.errors }}
            {{ form.disability }}
        </div>

        <p><strong>Reasonable Accommodation Notice</strong></p>

        <p>
            Federal law requires employers to provide reasonable accommodation to qualified individuals with disabilities. Please tell us if you require a reasonable accommodation to apply for a job or to perform your job. Examples of reasonable accommodation include making a change to the application process or work procedures, providing documents in an alternate format, using a sign language interpreter, or using specialized equipment.
        </p>

        <hr>

        <p>
            <a name="i"></a>
            <sup><em>i</em></sup>
            Section 503 of the Rehabilitation Act of 1973, as amended. For more information about this form or the equal employment obligations of Federal contractors, visit the U.S. Department of Labor’s Office of Federal Contract Compliance Programs (OFCCP) website at <a href="www.dol.gov/ofccp">www.dol.gov/ofccp</a>.<br>
            PUBLIC BURDEN STATEMENT: According to the Paperwork Reduction Act of 1995 no persons are required to respond to a collection of information unless such collection displays a valid OMB control number. This survey should take about 5 minutes to complete.
        </p>

        <div class="field button">
            <input class="button" name="wizard_goto_step" type="submit" value="Finish">
        </div>

    </form>

{% endblock %}



