{% extends "base.html" %}

{% block bodyclass %}job-details{% endblock %}

{% load staticfiles %}

{% block content %}

<header class="jobs not-fullscreen">
        {% load navigation %}
        {% navigation %}
</header>
<content id="main">

<div class="content-center">

    <h4>{{ job.title }} ({{ job.code }})</h4>

    <div class="body">

        {% if not job.active %}
            <p><strong class="red">THIS JOB IS NO LONGER APPLICABLE</strong></p>
        {% endif %}

        {% if job.location %}
            <p><strong>Location: </strong> {{ job.location }}</p>
        {% endif %}

        {% if job.security_clearance %}
            <p><strong>Security Clearance Eligibility: </strong> {{ job.security_clearance }}</p>
        {% endif %}

        <p><strong>Duties and Responsibilities:</strong></p>
        {{ job.duties|safe }}

        <p></p>

        <p><strong>Qualifications:</strong></p>
        {{ job.qualifications|safe }}

        {% if job.desired %}
            <p></p>
            <p><strong>Desired:</strong></p>
            {{ job.desired|safe }}
        {% endif %}

        <p>1 Source in accordance with applicable law, does not discriminate in hiring or otherwise in employment
        on the basis of race, color, religion, sex, national origin, age, marital or veteran status, disability, 
        sexual orientation, or any other legally protected status.</p>

        <p>1 Source is an Equal Opportunity Employer and strives for diversity. Careers with 1 Source feature excellent growth, very competitive health and welfare benefits, and 401(k) program with a Company match.</p>

        <p>Please forward your resume along with salary requirements to <a href="mailto:careers@1-sc.com?subject={{ job.title }} ({{ job.code }})">careers@1-sc.com</a>, placing {{ job.title }} 
        ({{ job.code }}) in the subject line. All resumes go directly to a recruiter for consideration. Candidates only, no agencies.</p>

        <p>
            <div class="button"><a href="/job/{{ job.id }}/apply/">APPLY</a></div>
        </p>

    </div>

</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}