{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}journal{% endblock %}
{% block content %}

<header class="journal not-fullscreen">
		{% load navigation %}
		{% navigation "journal" %}
		<div class="gradient"></div>
</header>
<content id="main">

{% for entry in journal %}
	<article>
		{% if forloop.first %}
			<div class="article-image large-image" style="background-image: url('{{ entry.image.url }}');">
				<h1>{{ entry.title }} {{ entry.published_date|date:'m/d/Y' }}</h1>
			</div>
			<div class="article-content two-column">
				{{ entry.body|safe }}
			</div>
		{% else %}
			<div class="article-image" style="background-image: url('{{ entry.image.url }}');">
			</div>
			<div class="article-content">
				<h4>{{ entry.title }}</h4>
				{{ entry.body|safe }}
			</div>
		{% endif %}
	</article>
{% endfor %}

</content>

{% load footer %}
{% footer %}
{% endblock %}