{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}journal{% endblock %}
{% block content %}

<header class="journal not-fullscreen">
		{% load navigation %}
		{% navigation "journal" %}
</header>
<content id="main">

{% for entry in journal %}
	<article>
		<style type="text/css">
			#article-image-{{ entry.id }} {
					background-image: url('{{ entry.image_mobile.url }}');
			}
			@media screen and (min-width : 460px) {
				#article-image-{{ entry.id }} {
					background-image: url('{{ entry.image.url }}');
				}
			}
		</style>
		<div class="article-image" id="article-image-{{ entry.id }}"></div>

		<div class="article-content">
			<h4>{{ entry.title }}</h4>
			{{ entry.body|safe }}
		</div>
	</article>
{% endfor %}

</content>

{% load footer %}
{% footer %}
{% endblock %}