{% extends "base.html" %}
{% load staticfiles %}

{% block bodyclass %}journal{% endblock %}
{% block content %}

<header class="journal not-fullscreen">
		{% load navigation %}
		{% navigation "journal" %}
</header>
<content id="main">

{% for entry in journal %}
	<article>
		<div class="article-image" style="background-image: url('{{ entry.image.url }}');">
		</div>
		<div class="article-content">
			<h4>{{ entry.title }}</h4>
			{{ entry.body|safe }}
		</div>
	</article>
{% endfor %}

</content>

{% load footer %}
{% footer %}
{% endblock %}