{% extends "base.html" %}

{% block bodyclass %}leadership story{% endblock %}
{% load staticfiles %}
{% block content %}

<header class="leadership not-fullscreen">
		{% load navigation %}
		{% navigation "story" %}
</header>
<content id="main">

<div class="content-center">

	<img src="{% static "images/leadership_header.jpg" %}" style="width:100%">

	<h4><a href="/#story">Story</a> : Leadership</h4>

	{% for profile in founders %}
		<article>
			<div class="article-inline-image"><img src="{{ profile.image_web.url }}"></div>

			<div class="article-content">
				<h4>{{ profile.name }}</h4>
				<h5>{{ profile.job_title }}</h5>
				{{ profile.description|safe }}
			</div>
		</article>
	{% endfor %}
</div>

<div class="bgimage section-bgimage" style="background-image:url('{% static "images/teambg.jpg" %}');">
	<section class="summary">
		Delivering business strategy and mission-critical IT solutions and services for nearly two decades.
	</section>
</div>

<div class="content-center">
	{% for profile in profiles %}
		<article>
			<div class="article-inline-image"><img src="{{ profile.image_web.url }}"></div>

			<div class="article-content">
				<h4>{{ profile.name }}</h4>
				<h5>{{ profile.job_title }}</h5>
				{{ profile.description|safe }}
			</div>
		</article>
	{% endfor %}
</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}