{% extends "base.html" %}

{% block title %}1Source - {{ page.title }}{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block content %}

<header class="page not-fullscreen"{% if bgimage %} style="background-image:url('{{ bgimage }}');"{% endif %}>
		{% load navigation %}
		{% navigation active_nav %}
</header>
<content id="main">

{% if page.teaser %}<section class="summary teaser">{{ page.teaser|safe }}</section>{% endif %}

<div class="content-center">

	<h4>{{ page.title|safe }}</h4>

	<div class="body">{{ page.content|safe }}</div>

</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}