{% extends "base.html" %}

{% block bodyclass %}page{% endblock %}
{% block content %}

<header class="page not-fullscreen">
		{% load navigation %}
		{% navigation %}
</header>
<content id="main">

<div class="content-center">

	<h4>Browser Unsupported</h4>

	<div class="body">
	<p>You are using an old browser that does not support our site. Please look into using a <a href="http://browsehappy.com/">different</a> browser or upgrading.
	</div>

</div>

</content>

{% load footer %}
{% footer %}
{% endblock %}