<html>
<head>
{% load staticfiles %}
<title>{% block title %}1Source - Browser Unsupported{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
<link href="{% static "css/error.css" %}" rel="stylesheet" type="text/css">
</head>
<body>

	<div id="logo"><img src="{% static "images/logo_dark.png" %}"></div>

	<h1>Browser Unsupported</h1>

	<p>You are using an old browser that does not support our site.<br>
	Please look into using a <a href="http://browsehappy.com/">different browser or upgrading</a>.</p>

</body>
</html>